#heat-map {
    margin: 0;
    height: 500px;
}

.top-margin {
    height: 56px;
}

.progress {
    font-size: 16px;
    height: 40px;
}

.ndvi-indicator-1 {
    color: #fff;
    background-color: #d7191c;
}

.ndvi-indicator-2 {
    color: #fff;
    background-color: #fdae61;
}

.ndvi-indicator-3 {
    color: #000;
    background-color: #ffffbf;
}

.ndvi-indicator-4 {
    color: #000;
    background-color: #abd9e9;
}

.ndvi-indicator-5 {
    color: #fff;
    background-color: #2c7bb6;
}
